$main-color: #555;
$main-nav: rgb(245, 234, 234 , 0.6);
$main-color2: rgb(245, 234, 234);
$main-color3: rgb(147, 147, 244) ;
$main-color4: rgba(243, 238, 238, 0.878);


@mixin position {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

@mixin colors1 {
    background: #edc9af;
}

@mixin colors2 {
   background: rgb(196, 196, 242); 
}
@font-face {
    font-family: "cairoFont";
    src: url(../fonts/Cairo-Regular.ttf);
}

body{

    font-family: "cairoFont" , !important;
}


.top-menu {
    .navbar {
        font-weight: bold;
        padding: 0 100px !important;
        background: $main-nav !important;
        position: fixed;
        top: 0;
        z-index: 3;
        a > img {
            width: 50px !important;
        }
        li > a {
            &:hover {
                color: $main-color !important;
                border-bottom: 1px solid $main-color;
            }
        }
    }
}

.header { 
    .contant{
        .carousel-inner{
            position: relative;
            img{
                width: 100%;
                height: 600px;
            }
            .carousel-caption{
                height: 600px !important;
                position: absolute;
                top: 25%;
                h3{
                    color: $main-color3;
                    font-weight: bold;
                }
                p{
                    color: $main-color3; 
                    font-weight: bold;
                }
            }
        }
    }
}


.Our-services {
    margin-top: 50px;
    .titles {
        h1 {
            text-align: center;
            padding: 40px;
            color: $main-color3;
            border-top: 2px solid $main-color2;
        }
    }
    .row {
        .center{
            @include position;
        .card {
            width: 90%;

            img {
                padding: 3px;
                width: 100%;
            }
            .card-body{
                h5 {
                    color: $main-color3 !important;
                }
                p {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
  }

}



.tours {
    border-top: 1px solid #555;
    
.main-contant{
    .contant{
        .h{
            h1{
                text-align: center;
                color: $main-color3;
                margin: 50px 0;
            }
        }
     .center{
        @include position;
        .card{
            margin-bottom: 50px;
            border: 2px solid $main-color3;
            h5{
              color: $main-color3;
            }
            .btn {
                background: $main-color3;
                border: none;
                color: black;
            }
        }
    }
    }
}
}

.contact-us{
    border-top: 1px solid darkkhaki;
    padding: 20px 0 20px;
    margin-top: 30px;
    .contant {
        margin: 100px;
        .titels {
            margin-top: 50px;
            li  {
                margin-right: 150px;
                padding: 20px;
                list-style: none;
                img {
                    width: 40px;
                }
                p {
                    display: inline-block;
                    padding: 10px;
                }
            }
        }
     }
    
 }

 .footer {
    text-align: center;
    background: $main-color;
    height: 100px;
    p{
        color: white;
        padding-top: 30px;
        font-size: 25px;
    }
 }



 .informations {
    margin: 50px 0;
    .contant {
        .card {
            
            img {
                padding: 50px;
                border-radius: 15%;
            }
            .card-body {
                h5 {
                    color: rgb(83, 72, 72);
                    padding-bottom: 10px;
                }
                p{
                    text-align: center;
                    font-size: 20px;
                }
            }
        }
    }
 }


 .second-informations {
    .contant {
        .card {
            .card-body {
                h5 {
                    color: $main-color3;
                }
            }
        }
    }
 }

 .exhibition {
    background: #edc9af;
    .contant {

        .titels{
            h1 {
                text-align: center;
                padding: 20px;
            }
        }
        .row {
            .center{
                @include position;
                padding-bottom: 50px;
            .card {
                padding: 3px;
                margin: 1px;
            }
         }
        }
    }
 }

 .second-exhibition {
    background: rgb(196, 196, 242);
 }

 .log-in{
    @include position;
    margin-top: 80px;
    .contant{
        border: 1px solid rgb(178, 178, 241);
        width: 25%;
        padding: 10px;
        border-radius: 3%;
        .titels{
            h5{
                color: rgb(67, 67, 234);
                font-weight: bold;
            }
            p{
                color: rgb(67, 67, 234);
                font-size: 15px;
            }
        }
        .row{
            .formes{
                .form-label{
                    color: rgb(67, 67, 234);
                    font-size: 13px;
                }
                .form-text {
                    color: red;
                    font-size: 14px;
                }
                button {
                    width: 80%;
                    margin-bottom: 5px;
                }
            }
        }
    }
 }



 @media (max-width: 992px) {
    .log-in{
        .contant{
            width: 40%;
        }
    }
}


@media (max-width: 768px) { 

    .tours{
        .contant{
            h1 {
                
                font-size: 20px;
            }
        }
    }


     .log-in{
        .contant{
            width: 70%;
        }
    }

 }

 @media (max-width: 576px) { 

     .log-in{
        .contant{
            width: 80%;
        }
    }
  }